# Dependencies
node_modules

# Build output
.next
out

# Testing
coverage
playwright-report
test-results
tests

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
.dockerignore

# Misc
.DS_Store
*.log
